<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Thank you so much for contacting City Limits Salon. We will get back in touch with you as soon as possible.</p>
		<p>Find and like us on <a href="https://www.facebook.com/pages/City-Limits-Salon/514955151877066">Facebook</a>.</p>
	</body>
</html>